#map{width:100%;height:300px}
.label{padding:6px;color:white;background:rgba(0,0,0,0.6)}
a {
  cursor:pointer;
}
.ios_clickable{
  cursor:pointer;
}
.modal-content{
  top:60px;
}
.small-text{
  font-size:small;
}
.tab-pane{
  height:400px;
  overflow-y:scroll;
  width:100%;
}

table.scrollable-table{
 height:400px;
}
tr.scrollable-table {
  width: 90%;
display: inline-table;
}
tbody.scrollable-table{
  overflow-y: scroll;
  height: 400px;
  position: absolute;
}
